name: kafka-connect-test-sdk
lang: java
lang_version: "8"
git:
  enable: true
github:
  enable: true
  repo_name: confluentinc/kafka-connect-test-sdk
codeowners:
  enable: true
semaphore:
  enable: true
  pipeline_enable: false
  triggers:
    - branches
    - pull_requests
  branches:
    - master
    - main
    - /^\d+\.\d+\.x$/
    - /^gh-readonly-queue.*/
  managed_sections:
    - version
    - name
    - agent
    - global_job_config
